* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

header {
    width: 100%;
    background-color: #004643;
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 5px;
    font-family: 'Fredoka One', sans-serif, serif;
}

.header__burger {
    display: none;
}

nav {
    display: flex;
}

.header__button  {
    margin-right: 10px;
    font-size: 28px;
    color: #f9bc60;
}

.header__button:last-child {
    margin-right: 0;
}

nav a::after, .header__login a::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    margin-top: 3px;
    background-color: #f9bc60;
    transition: width .3s;
}

nav a:hover::after, .header__login a:hover::after {
    width: 100%;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    z-index: 100;
}

#popup-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 350px;
    border: 1px solid #004643;
    background-color: #abd1c6;
    padding: 2% 5% 10%;
    border-radius: 20px;
    position: relative;
    animation: slideUp .3s ease-in-out;
}

#popup-content img {
    object-fit: cover;
    width: 90px;
    height: 90px;
}

#popup-content input[type="text"] {
    margin-top: 3%;
    width: 60%;
    padding: 8px;
    border: 1px solid #004643;
    border-radius: 10px;
}

#popup-content input[type="text"]:nth-child(2) {
    display: none;
}

#popup-content label {
    display: none;
    margin-top: 1%;
    color: green;
}

.popup__buttons {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 5%;
    text-transform: uppercase;
    position: relative;
}

#login-button,
#registration-button,
#reg-complete {
    color: #004643;
    border: 0;
    background: none;
    cursor: pointer;
    height: 50px;
    text-transform: capitalize;
}

#reg-complete {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}


#login-button::after,
#registration-button::after,
#reg-complete::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    margin-top: 3px;
    background-color: #004643;
    transition: width .3s;
}

#login-button:hover::after,
#registration-button:hover::after,
#reg-complete:hover::after{
    width: 100%;
}

#close-login {
    position: absolute;
    top: 1%;
    right: 1%;
    font-size: 60px;
    transform: rotate(45deg);
    cursor: pointer;
}

body {
    height: 100%;
    font-family: 'Acme', 'PT Serif', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    padding: 0;
    background-color: #abd1c6;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tea__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    margin: 3% auto;
    border: 4px solid #004643;
}

.main__information {
    display: flex;
    justify-content: flex-start;
    margin: 1%;
}

#tea-image {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
    overflow: hidden;
    position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #004643;
    background: none;
    text-align: center;
}

.inputfile + label::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    margin-top: 3px;
    background-color: #004643;
    transition: width .3s;
}

.inputfile:focus + label:hover::after,
.inputfile + label:hover::after {
    width: 100%;
}

.inputfile + label {
	cursor: pointer;
}

#tea-image img {
    text-align: center;
    padding-top: 2%;
    position: relative;
}

.tea__info {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.tea__info div {
    margin-left: 7%;
    margin-bottom: 3%;
    border-radius: 5px;
}

.tea__info div label {
    color: #004643;
    font-size: 18px;
}

.tea__info div input[type="text"] {
    width: 50%;
    background: none;
    font-size: 20px;
    padding: .5% 1%;
    border: none;
    border-bottom: 3px solid #004643;
}

.tea__info div input[type="text"]:focus {
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #f9bc60, #004643);
}

#tea-description {
    margin: 1%;
}

#tea-description textarea {
    width: 100%;
    font-size: 20px;
    border-radius: 15px;
    border: 2px solid #004643;
    background-color:#abd1c6;
    padding: 2%;
    resize: none;
}

#tea-rating {
    display: flex;
    justify-content: flex-end;
    position: relative;
    transform: rotateY(180deg);
}

#tea-rating input {
    display: none;
}

#tea-rating label {
    display: block;
    cursor: pointer;
    width: 5%;
    margin-right: .5%;
}

#tea-rating label:last-child {
    margin-right: 0;
}

#tea-rating label::before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 24px;
}

#tea-rating label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 24px;
    color: #f9bc60;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px #004643;
}

#tea-rating label:hover::after,
#tea-rating label:hover ~ label:after,
#tea-rating input:checked ~ label:after {
    opacity: 1;
}

#complete-button {
    color: #004643;
    border: none;
    border-radius: 30px;
    background: linear-gradient(to left, green, #eec50e);
    background-size: 300% 300%;
    cursor: pointer;
    height: 50px;
    text-transform: capitalize;
    width: 20%;
    font-size: 18px;
    margin: 0 auto 1%;
}

#complete-button:hover {
    color: #fff;
    border-image-slice: 1;
    animation: gradient 2s ease infinite;
}

@keyframes gradient { 
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }

    .tea__info div input[type="text"] {
        width: 75%;
    }

    #complete-button {
        width: 40%;
    }

}

@media (max-width:767px) {
    .container {
        max-width: none;
    }

    .header__logo {
        display: flex;
        justify-content: center;
    }

    .header__bottom {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .header__button  {
        font-size: 22px;
        margin-right: 0;
        margin-left: 5px;
    }

    .header__button:first-child {
        margin-left: 0;
    }

    .header__login {
        position: relative;
        z-index: 4;
    }

    #popup-content {
        width: 345px;
        height: 300px;
    }

    #comment-popup {
        width: 345px;
        height: 175px;
    }

    .tea__info div input[type="text"] {
        width: 120%;
    }

    #tea-rating label {
        width: 15%;
    }

    #complete-button {
        width: 80%;
    }
}