#comment-popup {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 200px;
    border: 1px solid #004643;
    background-color: #abd1c6;
    padding: 2% 5% 10%;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
    animation: slideUp .3s ease-in-out;
}

#comment-popup.show {
    display: flex;
}

form#comment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#comment-button {
    color: #004643;
    border: 0;
    background: none;
    cursor: pointer;
    height: 50px;
    margin-top: 5%;
    text-transform: capitalize;
}

#comment-button::after {
    content: '';
    display: block;
    width: 0;
    height: 4px;
    margin-top: 3px;
    background-color: #004643;
    transition: width .3s;
}

#comment-button:hover::after {
    width: 100%;
}

#comment-popup textarea {
    margin-top: 5%;
    border-radius: 5px;
    resize: none;
}

#close-comment {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    transform: rotate(45deg);
    cursor: pointer;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tea__section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    margin: 3% auto;
    border: 4px solid #004643;
}

.main__information {
    display: flex;
    justify-content: flex-start;
}

.tea__image {
    margin-top: 1%;
    margin-left: 1%;
}

.tea__info {
    display: flex;
    justify-content: space-between;
    width: 80%;
    flex-direction: column;
}

.tea__name {
    text-align: center;
    margin: 0;
    padding-top: 2%;
    font-size: 40px;
}

.tea__description {
    width: 90%;
    text-indent: 5%;
    line-height: 22px;
    font-size: 24px;
    margin: 0 auto;
    padding-bottom: 1%;
    color: #0f3433;
}

/* .tea__stats {
    border-top: 4px solid #004643;
    border-left: 4px solid #004643;
} */

.tea__stats table {
    width: 90%;
    margin: 1% auto;
    font-size: 26px;
    text-align: start;
}

.tea__stats table tr {
    text-align: center;
}

.tea__stats table th {
    width: 33.3%;
}

.tea__stats table tr td {
    padding-top: 1%;
}

.tea__stats table tr:last-child {
    color: #004643;
}

.feedback__section {
    display: flex;
    width: 100%;
    height: 35%;
    margin-bottom: 3%;
    border: 4px solid #004643;
}

.comment__section {
    width: 80%;
    border-right: 4px solid #004643;
}

#comment-list li {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 1.5% auto;
    padding: 1% 2%;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #004643;
}

.comment {
    display: flex;
}

.rating__section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    text-align: center;
}

#average-rating {
    font-size: 28px;
}

#self-rating {
    font-size: 20px;
}

#self-stars {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    position: relative;
    transform: rotateY(180deg);
}

#self-stars input {
    display: none;
}

#self-stars label {
    display: block;
    cursor: pointer;
    width: 10%;
    margin-right: 2%;
}

#self-stars label:last-child {
    margin-right: 0;
}

#self-stars label::before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 24px;
}

#self-stars label::after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 24px;
    color: #f9bc60;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px #004643;
}

#self-stars label:hover::after,
#self-stars label:hover ~ label:after,
#self-stars input:checked ~ label:after {
    opacity: 1;
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }

    .tea__name {
        font-size: 32px;
        line-height: 28px;
        padding-top: 3%;
    }

    #self-stars label:not(:last-child) {
        margin-right: 7%;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }

    .header__logo {
        display: flex;
        justify-content: center;
    }

    .header__bottom {
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .header__button  {
        font-size: 22px;
        margin-right: 0;
        margin-left: 5px;
    }

    .header__button:first-child {
        margin-left: 0;
    }

    #popup-content {
        width: 345px;
        height: 300px;
    }

    #comment-popup {
        width: 345px;
        height: 175px;
    }

    .main__information {
        flex-direction: column;
    }

    .tea__image,
    .tea__info {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
    }

    .feedback__section {
        flex-direction: column;
    }

    .comment__section {
        width: 100%;
        order: 2;
        border-right: 0;
        border-top: 4px solid #004643;
    }

    .rating__section {
        flex-direction: row;
        width: 100%;
        align-items: center;
    }

    #comment-list li {
        font-size: 18px;
    }

    .your__rating {
        display: flex;
        align-items: center;
        padding-bottom: 1%;
    }

    #average-rating {
        font-size: 24px;
    }

    #self-rating {
        font-size: 18px
    }

    #self-stars label:not(:last-child) {
        margin-right: 7%;
    }
}