<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/addtea_style.css')}}">
  <title>Add new tea</title>
</head>
<body>

  <header>
    <div class="container">
      <a href="index" class="header__logo">
        <img src="{{ url_for('static', filename='images/logo_desctop.png') }}" alt="Big logo">
      </a>
      <div class="header__bottom">
        <div class="header__burger"><span></span></div>
        <nav>          
          <a href="{{ url_for('index') }}" class="header__button">Home</a>
          <a href="{{ url_for('gallery') }}" class="header__button" >Gallery</a>
          <a href="{{ url_for('add_tea') }}" class="header__button">Add tea</a>
        </nav>
        <div class="header__login">
          <button class="header__button" id="login">Log In</button>
        </div>
      </div>
    </div>
  </header>

  <div class="popup">
    <div id="popup-content">
      <img src="{{ url_for('static', filename='images/login.svg') }}" alt="User">
      <form method="post" id="login-form">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <label for="">Registration complete</label>
        <div class="popup__buttons">
          <button type="submit" id="login-button"><span>log in</span></button>
          <button type="button" id="registration-button"><span>sign up</span></button>
          <button type="submit" id="reg-complete"><span>complete</span></button>
        </div>
      </form>
      <button id="close-login">+</button>
    </div>
    </div>
  </div>

  <main>
    <div class="container">
      <form action="" method="POST" class="tea__section" id="add-tea-form">
        <div class="main__information">
          <div class="tea__info">
            <div id="tea-name">
              <label for="title">Name</label><br>
              <input type="text" name="Title" id="title" onfocusout="validateTitle()">
              <span class="validation__text"></span>
            </div>
            <div id="tea-category">
              <label for="type">Category(Green/Black/Other)</label><br>
              <!-- <input type="radio" name="category" id="category1" value="Green"><label for="category1">Green</label>
              <input type="radio" name="category" id="category2" value="Black"><label for="category2">Black</label>
              <input type="radio" name="category" id="category3" value="Other"><label for="category3">Other</label> -->
              <input type="text" name="Type" id="type" onfocusout="validateType()">
              <span class="validation__text"></span>
            </div>
            <div id="tea-country">
              <label for="country">Country</label><br>
              <input type="text" name="Country" id="country" onfocusout="validateCountry()">
              <span class="validation__text"></span>
            </div>
            <div id="tea-price">
              <label for="price">Price</label><br>
              <input type="text" name="Price" id="price" onfocusout="validatePrice()">
              <span class="validation__text"></span>
            </div>
            <div id="tea-rating">
              <input type="radio" name="star" id="star1" value="5"><label for="star1"></label>
              <input type="radio" name="star" id="star2" value="4"><label for="star2"></label>
              <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
              <input type="radio" name="star" id="star4" value="2"><label for="star4"></label>
              <input type="radio" name="star" id="star5" value="1"><label for="star5"></label>
            </div>
          </div>
        </div>

        <div id="tea-description">
          <textarea name="description" id="" cols="30" rows="10" placeholder="Description"></textarea>
          <span class="validation__text"></span>
        </div>

        <button type="submit" id="complete-button"><span>Add to gallery</span></button>
      </form>
    </div>
  </main>

  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
  <script src="{{ url_for('static', filename='js/validateTea.js') }}"></script>
  <!-- <script src="{{ url_for('static', filename='js/uploadImage.js') }}"></script> -->
</body>

</html>