<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gallery_style.css')}}">
  <title>Gallery</title>
</head>

<body>

  <header>
    <div class="container">
      <a href="{{ url_for('index') }}" class="header__logo">
        <img src="{{ url_for('static', filename='images/logo_desctop.png') }}" alt="Big logo">
      </a>
      <div class="header__bottom">
        <nav>          
          <a href="{{ url_for('index') }}" class="header__button">Home</a>
          <a href="{{ url_for('gallery') }}" class="header__button" >Gallery</a>
          <a href="{{ url_for('add_tea') }}" class="header__button">Add tea</a>
        </nav>
        <div class="header__login">
          <button class="header__button" id="login">Log In</button>
        </div>
      </div>
    </div>
  </header>

  <div class="popup">
    <div id="popup-content">
      <img src="{{ url_for('static', filename='images/login.svg') }}" alt="User">
      <form action="" method="post" id="login-form">
        <input type="text" placeholder="Username" id="login-username">
        <span class="validation__text"></span>
        <input type="password" placeholder="Password" id="login-password">
        <span class="validation__text"></span>
        <div class="popup__buttons">
          <button type="submit" id="login-button"><span>log in</span></button>
          <button type="button" id="registration-button"><span>sign up</span></button>
        </div>
      </form>
      <form action="" method="post" id="reg-form">
        <input type="text" placeholder="Email" id="reg-email" onfocusout="validateRegEmail()">
        <span class="validation__text"></span>
        <input type="text" placeholder="Username" id="reg-username">
        <input type="password" placeholder="Password" id="reg-password" onkeyup="strength(this.value)">
        <span id="pswdStrength"></span>
        <label>Registration complete</label>
        <div class="popup__buttons">
          <button type="submit" id="reg-complete"><span>Registration</span></button>
        </div>
      </form>
      <button id="close-login">+</button>
    </div>
    </div>
  </div>

  <main>
    <div class="container">

      <form action="" id="form">
        <div class="form__section select__tea">
          <p>Type of tea</p>
          <div class="tea__categories" onclick="filterByType()">
            <input type="checkbox" id="green" name="green" value="Green tea">
            <label for="green">Green</label>
            <input type="checkbox" id="black" name="black" value="Black tea">
            <label for="black">Black</label>
            <!-- <input type="checkbox" id="other" name="Other" value="Other">
            <label for="other">Other</label> -->
          </div>
        </div>
        <div class="form__section select__price">
          <p>Price</p>
          <div class="price__slider" oninput="filterByPrice()" onchange="filterByPrice()">
            <input type="range" min="0" max="20" value="0" id="input-left">
            <input type="range" min="0" max="20" value="20" id="input-right">

            <div class="slider">
              <div class="track"></div>
              <div class="range"></div>
              <div class="thumb left"></div>
              <div class="thumb right"></div>
            </div>

            <div class="price__labels">
              <label id="min">Min: </label>
              <label id="max">Max: </label>
            </div>

          </div>
        </div>
        <div class="form__section select__country">
          <p>Country</p>
          <div class="country__list" onclick="filterByCountry()">
            <input type="checkbox" id="china" name="china" value="China">
            <label for="china">China</label>
            <input type="checkbox" id="england" name="england" value="England">
            <label for="england">England</label>
            <!-- <input type="checkbox" id="other" name="Other" value="Other">
            <label for="other">Other</label> -->
          </div>
        </div>
      </form>

      <section class="gallery__section">
        <h2 class="headline">Search results:</h2>
        <ul id="search-results">
          {% for tea in teas: %}
          <li class="tea__card">
            <div class="tea__image">
              {% if tea.type == 'Black' %}
                <img src="{{ url_for('static', filename='images/blacktear.png')}}" alt="black tea">
              {% elif tea.type == 'Green' %}
                <img src="{{ url_for('static', filename='images/greentear.png')}}" alt="green tea">
              {% else %}
                <img src="{{ url_for('static', filename='images/othertear.png')}}" alt="other tea">
              {% endif %}
            </div>
            <div class="tea__name"><a href="gallery/{{ tea.id }}">{{ tea.title }}</a></div>
            <div class="tea__rating">Rating: {{ tea.rating }}</div>
            <p class="tea__description"> {{ tea.description }}</p>
            <div class="tea__info">
              <div class="tea__stats country">
                <p>{{ tea.country }}</p>
              </div>
              <div class="tea__stats categoty">
                <p>{{ tea.type }} tea</p>
              </div>
              <div class="tea__stats price">
                <p>{{ tea.price }}$</p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </section>
    </div>
  </main>

  <script src="{{ url_for('static', filename='js/slider.js') }}"></script>
  <script src="{{ url_for('static', filename='js/filter.js') }}"></script>
  <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>